@font-face {
    font-family: "priceDown";
    src: url("fonts/pricedown.otf") format("otf"),
   }
   
/* body{background-color: white} */

.test{font-family: "priceDown";}

.foot{width:100%;background-color: grey;position: fixed;bottom: 0;text-align: center}

/* table */
#wish-list{width: 100%;font-size: 20px;font-family: "priceDown";text-align: center;border: solid black 1px;border-color: grey}
#wish-list th{font-size: 25px;}
#wish-list td{border-top: solid 1px black;border-right: solid 1px black;}

.h-wish{font-family: "priceDown";text-align: center}

.title-wish{font-size: 30px;text-decoration: underline;color: black}
.logo{padding-right: 3rem}
.nav-horizontal {
    font-family: "priceDown";
    background-color: #fff;
    overflow: hidden;
    height: 3em;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
.mask {
    height: 5em;
    width: 100%;
    overflow-x: auto;
}
    
.list{
    vertical-align: baseline;
    display: inline-table;
    margin: 0 auto;
    max-width: 100%;
}
li{
    display: table-cell;
}
  
.link{
    display: block;
    padding: 0 1em;
    text-decoration: none;
    color: #333;
    height: 3em;
    line-height: 3;
}
  
.link:hover {
    border-bottom: 2px solid black;
    background-color: #f9f9f9;
}
  
/* codepen用 reset */

*{box-sizing: border-box;}
  
body{padding-top: 0;width:99vw;}


/* BUTTON */


/* message */

.message-valid{font-family: "priceDown";color: #4b7240;text-align: center;font-size: 30px;text-decoration: underline;}

/* FORM */

#wish_form{font-family: "priceDown";text-align: center;}
#wish_form label{font-size: 20px;margin-right: 3rem}
#wish_form div{margin-top: 1.5rem}
#wish_form_save{border: solid black 1px;background-color: transparent;width: 200px;font-size: 15px;cursor: pointer;margin-top: 2rem}

.form{font-family: "priceDown";text-align: center;}
.form label{font-size: 20px;margin-right: 3rem;margin-left: 2rem}
.form div{margin-top: 1.5rem}
.form .btn{border: solid black 1px;background-color: transparent;width: 200px;font-size: 15px;cursor: pointer;margin-top: 2rem}