<html>

<head>

{% block title %}{% endblock %}


{# <link href="{{ asset('css/app.css') }}" rel="icon" /> #}
<link href="{{ asset('icons/symfony-icon.webp') }}" rel="icon" />
<link href="{{ asset('css/app.css') }}" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>

<body>

    {% include 'inc/nav.html.twig' %}    

    {% block body %}{% endblock %}

    <div>
        <a class="footer">©Bucket-List - {{"now"|date('Y')}}</a>
    </div>

</body>

</html>