<nav class="nav-horizontal">
  <div class="mask">
    <ul class="list">
      <li class="logo"><img src="/img/logo.png" width="28px" height="28px"/></li>
      <li><a class="link" href="{{path('home')}}">Home</a></li>
      <li><a class="link" href="{{path('legal-stuff')}}">Legal Stuff</a></li>
      <li><a class="link" href="{{path('wish_list')}}">Wish List</a></li>
      <li><a class="link" href="{{path('about-us')}}">About us</a></li>
    </ul>
  </div>
</nav>
